@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    background-color: purple;
    font-family: 'Gloria Hallelujah';
    user-select: none;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    transition: transform 0.1s ease;
    width: fit-content;
}

.title:hover{
    transform: scale(1.1) rotate(-2deg);
    text-decoration: underline;
}

.drawing-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap : 40px;
    padding:10px 30px;
    background-color: purple;
}

.drawing-area .canvas{
    display: flex;
    background-color: white;
    flex-wrap:wrap;
}


.drawing-area .sketches{
    width : 200px;
    height: 448px;
}

.grid-square{
    border: 2px solid gray;
    box-sizing: border-box;
    background-color: white;
}

.grid-square:hover{
    background-color: lightgray;
}

.buttons{
    width:fit-content;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons >*{
    color:white; font-size: 1.3rem; background-color: #9023dc; border-radius:20px;
    transition: transform 0.1s ease;
}

.color-button{
    background-color: black;
}

.buttons >*:hover{
    transform: scale(1.1);
    cursor:pointer;
}

.button:active{
    background-color: rgb(128, 87, 0);
}

.footer *{
    background-color: #9023dc;
    color: white;
    transition: transform 0.1s ease;
    font-size:1.2rem;
    border-radius:10px;
}

.footer *:hover{
    transform: scale(1.1);
}
